
.container {
    margin: 0 auto;
    max-width: 1160px;
    flex-direction: column;
}

.xs {
    margin: 0 auto;
    max-width: 480px;
    flex-direction: column;
}

.sm {
    margin: 0 auto;
    max-width: 768px;
    flex-direction: column;
}

.md {
    margin: 0 auto;
    max-width: 1024px;
    flex-direction: column;
}

.lg {
    margin: 0 auto;
    max-width: 1200px;
    flex-direction: column;
}

.lg {
    margin: 0 auto;
    min-width: 1201px;
    flex-direction: column;
}