.root {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #d9d9d9;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-size: 14px;
}

.separator::before,

.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #d9d9d9;
}
.separator::before {
    margin-right: 1.35em;
}

.separator::after {
    margin-left: 1.35em;
}

.separatorVertical {
    border-left: 1px solid #d9d9d9;
    background: #d9d9d9;
    width: 1px;
    height: 20px;
}