.root {
    --rs-gray-50: #f7f7fa;
    --rs-gray-100: #f2f2f5;
    --rs-gray-200: #e5e5ea;
    --rs-gray-300: #d9d9d9;
    --rs-gray-400: #c5c6c7;
    --rs-gray-500: #a6a6a6;
    --rs-gray-600: #8e8e93;
    --rs-gray-700: #7a7a7a;
    --rs-gray-800: #575757;
    --rs-gray-900: #272c36;
    --rs-primary-50: #f2faff;
    --rs-primary-100: #cce9ff;
    --rs-primary-200: #a6d7ff;
    --rs-primary-300: #80c4ff;
    --rs-primary-400: #59afff;
    --rs-primary-500: #3498ff;
    --rs-primary-600: #2589f5;
    --rs-primary-700: #1675e0;
    --rs-primary-800: #0a5dc2;
    --rs-primary-900: #004299;
    --rs-red-50: #fff2f2;
    --rs-red-100: #fccfcf;
    --rs-red-200: #faa9a7;
    --rs-red-300: #fa8682;
    --rs-red-400: #f7635c;
    --rs-red-500: #f44336;
    --rs-red-600: #eb3626;
    --rs-red-700: #d62915;
    --rs-red-800: #b81c07;
    --rs-red-900: #8f1300;
    --rs-orange-50: #fff8f2;
    --rs-orange-100: #ffdfc2;
    --rs-orange-200: #fcc690;
    --rs-orange-300: #fcb160;
    --rs-orange-400: #fa9b2f;
    --rs-orange-500: #fa8900;
    --rs-orange-600: #f08800;
    --rs-orange-700: #db8000;
    --rs-orange-800: #bd7100;
    --rs-orange-900: #945b00;
    --rs-yellow-50: #fffaf2;
    --rs-yellow-100: #ffe9c2;
    --rs-yellow-200: #ffd991;
    --rs-yellow-300: #ffca61;
    --rs-yellow-400: #ffbe30;
    --rs-yellow-500: #ffb300;
    --rs-yellow-600: #f5af00;
    --rs-yellow-700: #e0a500;
    --rs-yellow-800: #c29100;
    --rs-yellow-900: #997500;
    --rs-green-50: #eeffed;
    --rs-green-100: #c8f0c7;
    --rs-green-200: #a5e0a4;
    --rs-green-300: #82cf82;
    --rs-green-400: #65bf67;
    --rs-green-500: #4caf50;
    --rs-green-600: #37ab3c;
    --rs-green-700: #22a12a;
    --rs-green-800: #0f9119;
    --rs-green-900: #007d0c;
    --rs-cyan-50: #f2ffff;
    --rs-cyan-100: #bcf4f7;
    --rs-cyan-200: #87e6ed;
    --rs-cyan-300: #57dae6;
    --rs-cyan-400: #2acadb;
    --rs-cyan-500: #00bcd4;
    --rs-cyan-600: #00b1cc;
    --rs-cyan-700: #00a0bd;
    --rs-cyan-800: #008aa6;
    --rs-cyan-900: #006e87;
    --rs-blue-50: #f0f9ff;
    --rs-blue-100: #c5e7fc;
    --rs-blue-200: #9bd4fa;
    --rs-blue-300: #72c0f7;
    --rs-blue-400: #49abf5;
    --rs-blue-500: #2196f3;
    --rs-blue-600: #1787e8;
    --rs-blue-700: #0d73d4;
    --rs-blue-800: #045cb5;
    --rs-blue-900: #00448c;
    --rs-violet-50: #f6f2ff;
    --rs-violet-100: #d5c9f0;
    --rs-violet-200: #b6a1e3;
    --rs-violet-300: #987bd4;
    --rs-violet-400: #805ac7;
    --rs-violet-500: #673ab7;
    --rs-violet-600: #5f2bb3;
    --rs-violet-700: #531ba8;
    --rs-violet-800: #470c99;
    --rs-violet-900: #390085;
    --rs-state-success: #4caf50;
    --rs-state-info: #2196f3;
    --rs-state-warning: #ffb300;
    --rs-state-error: #f44336;
    --rs-body: #fff;
    --rs-bg-success: #edfae1;
    --rs-bg-info: #e9f5fe;
    --rs-bg-warning: #fff9e6;
    --rs-bg-error: #fde9ef;
    --rs-text-link: #1675e0;
    --rs-text-link-hover: #0a5dc2;
    --rs-text-link-active: #004299;
    --rs-text-primary: #575757;
    --rs-text-secondary: #8e8e93;
    --rs-text-tertiary: #a6a6a6;
    --rs-text-heading: #272c36;
    --rs-text-inverse: #f7f7fa;
    --rs-text-heading-inverse: #fff;
    --rs-text-active: #1675e0;
    --rs-text-disabled: #c5c6c7;
    --rs-text-error: #f44336;
    --rs-border-primary: #e5e5ea;
    --rs-border-secondary: #f2f2f5;
    --rs-bg-card: #fff;
    --rs-bg-overlay: #fff;
    --rs-bg-well: #f7f7fa;
    --rs-bg-active: #3498ff;
}